modules/filecharacterizer_webservice/config/DOMSFileCharacterizer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://filecharacterizer.doms.statsbiblioteket.dk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://filecharacterizer.doms.statsbiblioteket.dk" xmlns:intf="http://filecharacterizer.doms.statsbiblioteket.dk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://filecharacterizer.doms.statsbiblioteket.dk" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fileURI" type="xsd:anyURI"/>
   <complexType name="FileCharacterization">
    <sequence>
     <element name="characterizationOutput" nillable="true" type="xsd:base64Binary"/>
     <element name="md5CheckSum" nillable="true" type="xsd:string"/>
     <element name="pronomID" nillable="true" type="xsd:string"/>
     <element name="validationStatus" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="characterizeFileReturn" type="impl:FileCharacterization"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="characterizeFileResponse">

      <wsdl:part element="impl:characterizeFileReturn" name="characterizeFileReturn"/>

   </wsdl:message>

   <wsdl:message name="characterizeFileRequest">

      <wsdl:part element="impl:fileURI" name="fileURI"/>

   </wsdl:message>

   <wsdl:portType name="DomsFileCharacterizer">

      <wsdl:operation name="characterizeFile" parameterOrder="fileURI">

         <wsdl:input message="impl:characterizeFileRequest" name="characterizeFileRequest"/>

         <wsdl:output message="impl:characterizeFileResponse" name="characterizeFileResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FileCharacterizerSoapBinding" type="impl:DomsFileCharacterizer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="characterizeFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="characterizeFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="characterizeFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DomsFileCharacterizerService">

      <wsdl:port binding="impl:FileCharacterizerSoapBinding" name="FileCharacterizer">

         <wsdlsoap:address location="http://pc214:7910/filecharacterizer/services/FileCharacterizer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
