modules/filecharacterizer_webservice/src/dk/statsbiblioteket/doms/filecharacterizer/DOMSFileCharacterizer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://filecharacterizer.doms.statsbiblioteket.dk"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://filecharacterizer.doms.statsbiblioteket.dk"
                  xmlns:intf="http://filecharacterizer.doms.statsbiblioteket.dk"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- WSDL for webservice for DOMS File Characterizer.
         WSDL created Oct 14, 2008 -->
    <wsdl:types>
        <schema elementFormDefault="qualified"
                targetNamespace="http://filecharacterizer.doms.statsbiblioteket.dk"
                xmlns:tn="http://filecharacterizer.doms.statsbiblioteket.dk"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="fileURI" type="xsd:anyURI">
                <wsdl:documentation>
                    Element fileURI specifies the input to operation
                    characterizeFile: URI for the file to charaterise.
                </wsdl:documentation>
            </element>

            <element name="characterizeFileReturn" type="impl:FileCharacterization">
                <wsdl:documentation>
                    Element characterizeFileReturn specifies the output of operation
                    characterizeFile.
                </wsdl:documentation>
            </element>

            <complexType name="FileCharacterization">
                <wsdl:documentation>
                    Complex type FileCharacterization is the output of operation
                    characterizeFile. FileCharacterization contains
                    the output of the characterization tool, the PRONOM file format
                    ID, the md5 checksum and validation status.
                </wsdl:documentation>
                <sequence>
                    <element name="characterizationOutput" nillable="true" type="xsd:base64Binary"/>
                    <element name="md5CheckSum" nillable="true" type="xsd:string"/>
                    <element name="pronomID" nillable="true" type="xsd:string"/>
                    <element name="validationStatus" nillable="true" type="tn:validationStatusType"/>
                </sequence>
            </complexType>

            <simpleType name="validationStatusType">
                <wsdl:documentation>
                    Validation status type used in the output
                    of operation characterizeFile. For the format specified by the
                    PRONOM ID given together with this status, the status tells
                    whether or not the characterized file is a valid file of that
                    format.
                </wsdl:documentation>
                <restriction base="xsd:string">
                    <enumeration value="INVALID"/>
                    <enumeration value="VALID"/>
                </restriction>
            </simpleType>
        </schema>
    </wsdl:types>

    <wsdl:message name="characterizeFileResponse">
        <wsdl:part element="impl:characterizeFileReturn" name="characterizeFileReturn"/>
    </wsdl:message>

    <wsdl:message name="characterizeFileRequest">
        <wsdl:part element="impl:fileURI" name="fileURI"/>
    </wsdl:message>

    <wsdl:portType name="DomsFileCharacterizer">
        <wsdl:operation name="characterizeFile" parameterOrder="fileURI">
            <wsdl:documentation>
                Operation characterizeFile performs a characterization of a file
                identified by the URI provided by the caller.
            </wsdl:documentation>
            <wsdl:input message="impl:characterizeFileRequest" name="characterizeFileRequest"/>
            <wsdl:output message="impl:characterizeFileResponse" name="characterizeFileResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="FileCharacterizerSoapBinding" type="impl:DomsFileCharacterizer">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="characterizeFile">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="characterizeFileRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="characterizeFileResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DomsFileCharacterizerService">
        <wsdl:documentation>
            Webservice for DOMS characterisation tools.
        </wsdl:documentation>
        <wsdl:port binding="impl:FileCharacterizerSoapBinding" name="FileCharacterizer">
            <wsdlsoap:address location="http://localhost:7910/FileCharacterizer/services/FileCharacterizer"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
