modules/lowlevelbitstorage/web/WEB-INF/wsdl/lowlevel.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<xs:schema xmlns:tns="http://lowlevel.bitstorage.doms.statsbiblioteket.dk/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://lowlevel.bitstorage.doms.statsbiblioteket.dk/">

    <xs:element name="ChecksumFailedException"
                type="tns:ChecksumFailedException"/>

    <xs:element name="CommunicationException"
                type="tns:CommunicationException"/>

    <xs:element name="FileNotFoundException" type="tns:FileNotFoundException"/>

    <xs:element name="NotEnoughFreeSpaceException"
                type="tns:NotEnoughFreeSpaceException"/>

    <xs:element name="UploadFailedException" type="tns:UploadFailedException"/>

    <xs:element name="approve" type="tns:approve"/>

    <xs:element name="approveResponse" type="tns:approveResponse"/>

    <xs:element name="disapprove" type="tns:disapprove"/>

    <xs:element name="disapproveResponse" type="tns:disapproveResponse"/>

    <xs:element name="getMaxFileSize" type="tns:getMaxFileSize"/>

    <xs:element name="getMaxFileSizeResponse"
                type="tns:getMaxFileSizeResponse"/>

    <xs:element name="getMd5" type="tns:getMd5"/>

    <xs:element name="getMd5Response" type="tns:getMd5Response"/>

    <xs:element name="isApproved" type="tns:isApproved"/>

    <xs:element name="isApprovedResponse" type="tns:isApprovedResponse"/>

    <xs:element name="spaceleft" type="tns:spaceleft"/>

    <xs:element name="spaceleftResponse" type="tns:spaceleftResponse"/>

    <xs:element name="uploadFile" type="tns:uploadFile"/>

    <xs:element name="uploadFileResponse" type="tns:uploadFileResponse"/>

    <xs:complexType name="isApproved">
        <xs:sequence>
            <xs:element name="fileurl" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="isApprovedResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FileNotFoundException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CommunicationException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="spaceleft">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="spaceleftResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getMaxFileSize">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="getMaxFileSizeResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="approve">

        <xs:sequence>
            <xs:element name="fileurl" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="md5string" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="approveResponse">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="NotEnoughFreeSpaceException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ChecksumFailedException">

        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uploadFile">
        <xs:sequence>
            <xs:element name="filename" type="xs:string" minOccurs="0"/>
            <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime"
                        name="filedata"
                        ns1:expectedContentTypes="application/octet-stream"
                        type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="md5string" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uploadFileResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="UploadFailedException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getMd5">
        <xs:sequence>
            <xs:element name="fileurl" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getMd5Response">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="disapprove">
        <xs:sequence>
            <xs:element name="fileurl" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="md5string" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="disapproveResponse">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>