modules/lowlevelbitstorage/web/WEB-INF/bitstorageSsh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bitstorageSsh" type="bitstorageSshConfig"/>
  <xs:complexType name="bitstorageSshConfig">
    <xs:sequence>
      <xs:element type="xs:string" name="script">
        <xs:annotation>
          <xs:documentation>Optional:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="server">
        <xs:annotation>
          <xs:documentation>Optional:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="bitfinder">
        <xs:annotation>
          <xs:documentation>Optional:</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>