modules/lowlevelbitstorage/test/data/cdata.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://statsbiblioteket.dk/testCdata">

    <xs:element name="test">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="to" type="xs:"/>
                <xs:element name="from" type="xs:string"/>
                <xs:element name="heading" type="xs:string"/>
                <xs:element name="body" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

