modules/oldwebservices/bitstorage_webservice/config/Bitstorage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bitstorage.doms.statsbiblioteket.dk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bitstorage.doms.statsbiblioteket.dk" xmlns:intf="http://bitstorage.doms.statsbiblioteket.dk" xmlns:tns1="http://exceptions.bitstorage.doms.statsbiblioteket.dk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bitstorage.doms.statsbiblioteket.dk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.bitstorage.doms.statsbiblioteket.dk"/>
   <element name="uploadFile">
    <complexType>
     <sequence>
      <element name="fileName" type="xsd:string"/>
      <element name="localurl" type="xsd:anyURI"/>
      <element name="provided_md5" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="uploadFileResponse">
    <complexType>
     <sequence>
      <element name="uploadFileReturn" type="impl:BitstorageFile"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="BitstorageFile">
    <sequence>
     <element name="characterizationOutput" nillable="true" type="xsd:base64Binary"/>
     <element name="fileName" nillable="true" type="xsd:string"/>
     <element name="fileurl" nillable="true" type="xsd:anyURI"/>
     <element name="md5CheckSum" nillable="true" type="xsd:string"/>
     <element name="pronomID" nillable="true" type="xsd:string"/>
     <element name="validationStatus" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns1:CannotGetFile"/>
   <element name="fault1" type="tns1:InvalidFileName"/>
   <element name="fault2" type="tns1:CannotStoreFile"/>
   <element name="fault3" type="tns1:WrongChecksum"/>
   <element name="fault4" type="tns1:CharacterizationFailed"/>
   <element name="fault5" type="tns1:DifferentFileWithThatNameExist"/>
   <element name="approveFile">
    <complexType>
     <sequence>
      <element name="fileurl" type="xsd:anyURI"/>
      <element name="md5sum" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="approveFileResponse">
    <complexType/>
   </element>
   <element name="fault6" type="tns1:UnknownURI"/>
   <element name="disapproveFile">
    <complexType>
     <sequence>
      <element name="fileurl" type="xsd:anyURI"/>
      <element name="md5sum" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="disapproveFileResponse">
    <complexType/>
   </element>
   <element name="spaceLeft">
    <complexType/>
   </element>
   <element name="spaceLeftResponse">
    <complexType>
     <sequence>
      <element name="spaceLeftReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.bitstorage.doms.statsbiblioteket.dk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bitstorage.doms.statsbiblioteket.dk"/>
   <complexType name="CannotGetFile">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InvalidFileName">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CannotStoreFile">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WrongChecksum">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CharacterizationFailed">
    <sequence>
     <element name="s" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DifferentFileWithThatNameExist">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="UnknownURI">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="spaceLeftRequest">

      <wsdl:part element="impl:spaceLeft" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnknownURI">

      <wsdl:part element="impl:fault6" name="fault"/>

   </wsdl:message>

   <wsdl:message name="CannotGetFile">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="uploadFileResponse">

      <wsdl:part element="impl:uploadFileResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="approveFileRequest">

      <wsdl:part element="impl:approveFile" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DifferentFileWithThatNameExist">

      <wsdl:part element="impl:fault5" name="fault"/>

   </wsdl:message>

   <wsdl:message name="spaceLeftResponse">

      <wsdl:part element="impl:spaceLeftResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="approveFileResponse">

      <wsdl:part element="impl:approveFileResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="disapproveFileRequest">

      <wsdl:part element="impl:disapproveFile" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="uploadFileRequest">

      <wsdl:part element="impl:uploadFile" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CharacterizationFailed">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="disapproveFileResponse">

      <wsdl:part element="impl:disapproveFileResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CannotStoreFile">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="InvalidFileName">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="WrongChecksum">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="TestBedBitstorage">

      <wsdl:operation name="uploadFile">

         <wsdl:input message="impl:uploadFileRequest" name="uploadFileRequest"/>

         <wsdl:output message="impl:uploadFileResponse" name="uploadFileResponse"/>

         <wsdl:fault message="impl:CannotGetFile" name="CannotGetFile"/>

         <wsdl:fault message="impl:CharacterizationFailed" name="CharacterizationFailed"/>

         <wsdl:fault message="impl:DifferentFileWithThatNameExist" name="DifferentFileWithThatNameExist"/>

         <wsdl:fault message="impl:CannotStoreFile" name="CannotStoreFile"/>

         <wsdl:fault message="impl:InvalidFileName" name="InvalidFileName"/>

         <wsdl:fault message="impl:WrongChecksum" name="WrongChecksum"/>

      </wsdl:operation>

      <wsdl:operation name="approveFile">

         <wsdl:input message="impl:approveFileRequest" name="approveFileRequest"/>

         <wsdl:output message="impl:approveFileResponse" name="approveFileResponse"/>

         <wsdl:fault message="impl:CannotStoreFile" name="CannotStoreFile"/>

         <wsdl:fault message="impl:WrongChecksum" name="WrongChecksum"/>

         <wsdl:fault message="impl:UnknownURI" name="UnknownURI"/>

      </wsdl:operation>

      <wsdl:operation name="disapproveFile">

         <wsdl:input message="impl:disapproveFileRequest" name="disapproveFileRequest"/>

         <wsdl:output message="impl:disapproveFileResponse" name="disapproveFileResponse"/>

         <wsdl:fault message="impl:WrongChecksum" name="WrongChecksum"/>

         <wsdl:fault message="impl:UnknownURI" name="UnknownURI"/>

      </wsdl:operation>

      <wsdl:operation name="spaceLeft">

         <wsdl:input message="impl:spaceLeftRequest" name="spaceLeftRequest"/>

         <wsdl:output message="impl:spaceLeftResponse" name="spaceLeftResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BitstorageSoapBinding" type="impl:TestBedBitstorage">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="uploadFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uploadFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uploadFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CannotGetFile">

            <wsdlsoap:fault name="CannotGetFile" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="CharacterizationFailed">

            <wsdlsoap:fault name="CharacterizationFailed" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DifferentFileWithThatNameExist">

            <wsdlsoap:fault name="DifferentFileWithThatNameExist" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="CannotStoreFile">

            <wsdlsoap:fault name="CannotStoreFile" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidFileName">

            <wsdlsoap:fault name="InvalidFileName" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WrongChecksum">

            <wsdlsoap:fault name="WrongChecksum" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="approveFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="approveFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="approveFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CannotStoreFile">

            <wsdlsoap:fault name="CannotStoreFile" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WrongChecksum">

            <wsdlsoap:fault name="WrongChecksum" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownURI">

            <wsdlsoap:fault name="UnknownURI" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="disapproveFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="disapproveFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="disapproveFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WrongChecksum">

            <wsdlsoap:fault name="WrongChecksum" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownURI">

            <wsdlsoap:fault name="UnknownURI" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="spaceLeft">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="spaceLeftRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="spaceLeftResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestBedBitstorageService">

      <wsdl:port binding="impl:BitstorageSoapBinding" name="Bitstorage">

         <wsdlsoap:address location="http://localhost:7910/Bitstorage/services/Bitstorage"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
